@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.products-list::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
.products-list::-webkit-scrollbar-track {
    background: rgb(24 24 27 / var(--tw-bg-opacity));
}
 
/* Handle */
.products-list::-webkit-scrollbar-thumb {
    background: #4b4b4b;
    border-radius: 5px;
}
 
/* Handle on hover */
.products-list::-webkit-scrollbar-thumb:hover {
    background: #838383;
}